*{
    margin: 0;
    padding: 0;
}

#navbar{
    border: 1px solid black;
    display: flex;
    width: 100%;
    
}

a{
    text-decoration: none;
}

#links{
    display: flex;
   
}
#dismiss{
    border: 1px solid;
    border-radius: 50px;
    padding: 2px;
}

#forms{
  height:30vh;
    background-color: white;
 width: 80%;
 margin: 30px;
}

section{
    background-color:lightblue;
    padding: 80px;
    height:50vh;
    width: 100%;
}


img{
    display: inline-block;
}

#googlg-img2{
    margin:10px;
}